In [2]:
# Add the dependencies.
import pandas as pd
import os

In [3]:
# Files to load
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [4]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,Unnamed: 7
0,0,Paul Bradley,M,9th,Huang High School,66,79,NaN
1,1,Victor Smith,M,12th,Huang High School,94,61,NaN
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,NaN
3,3,Richard Scott,M,12th,Huang High School,67,58,NaN
4,4,Bonnie Ray,F,9th,Huang High School,97,84,NaN